<div id="map"></div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA62ZFFGs9LGUx-22aS5HggQWuRgqEPprE&sensor=false"></script>
<script src="js/views/map-view.js"></script>
